.bannerroll {
  display: flex;
  gap: 10px;
  height: 45vh;
  padding: 18px 20px 20px 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 10px;
  scroll-behavior: smooth;
  position: relative;
}
.bannerroll::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.bannerroll.square_slides .slide {
  aspect-ratio: 1/1;
  scroll-snap-align: center;
}
.bannerroll.square_slides .slide img {
  width: 100%;
  border: 1px solid rgba(40, 44, 63, 0.1019607843);
  border-radius: 0.8rem;
}
.bannerroll.banner_slides .slide {
  aspect-ratio: 1.8/1;
  scroll-snap-align: center;
}
.bannerroll.banner_slides .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid rgba(40, 44, 63, 0.1019607843);
  border-radius: 0.8rem;
}

.slide_counter {
  height: 9px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide_counter.dash .slide {
  min-width: 4.5px;
  min-height: 3px;
  width: 6.3%;
  max-width: 63px;
  height: 3px;
}
.slide_counter.dot .slide {
  min-width: 4.5px;
  min-height: 4.5px;
  height: 4.5px;
}
.slide_counter.numbered .slide.current {
  display: flex;
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 9px;
  padding: 3px 6px;
}
.slide_counter.numbered .slide.current::after {
  font-weight: 600;
  content: attr(data-slide) " / " attr(data-total);
}
.slide_counter.highlight .slide.current {
  background-color: #00aeef;
}
.slide_counter.dash_highlight .slide.current {
  min-width: 4.5px;
  min-height: 3px;
  width: 6.3%;
  max-width: 63px;
  height: 3px;
  background-color: #00aeef;
}
.slide_counter.dot_current .slide.current {
  min-width: 4.5px;
  min-height: 4.5px;
  width: 4.5px;
  height: 4.5px;
}
.slide_counter.capsule_scale .slide.current {
  min-width: 4.5px;
  min-height: 4.5px;
  width: 9px;
  height: 6px;
}
.slide_counter .slide {
  min-width: 4.5px;
  min-height: 4.5px;
  width: 4.5px;
  height: 4.5px;
  font-size: 0;
  padding: 0 0;
  border-radius: 18px;
  color: #ffffff;
  background-color: #b8b8b8;
  margin: 0 4.5px;
  transition: font-size 360ms ease-in-out, padding 360ms ease-in-out, background-color 360ms ease-in-out, width 360ms ease-in-out, height 360ms ease-in-out;
}

@media screen and (max-width: 768px) {
  .bannerroll {
    display: flex;
    gap: 10px;
    width: calc(100vw - 40px);
    padding: 18px 20px 20px 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 10px;
    scroll-behavior: smooth;
    position: relative;
  }
  .bannerroll::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .bannerroll.square_slides .slide {
    width: 90vw;
    height: 90vw;
    aspect-ratio: 1/1;
    scroll-snap-align: center;
  }
  .bannerroll.square_slides .slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border: 1px solid rgba(40, 44, 63, 0.1019607843);
    border-radius: 0.8rem;
  }
  .bannerroll.banner_slides .slide {
    width: 90vw;
    height: 50vw;
    aspect-ratio: 1.8/1;
    scroll-snap-align: center;
  }
  .bannerroll.banner_slides .slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border: 1px solid rgba(40, 44, 63, 0.1019607843);
    border-radius: 0.8rem;
  }
}
.slide_counter {
  height: 9px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide_counter.dash .slide {
  min-width: 4.5px;
  min-height: 3px;
  width: 6.3%;
  max-width: 63px;
  height: 3px;
}
.slide_counter.dot .slide {
  min-width: 4.5px;
  min-height: 4.5px;
  height: 4.5px;
}
.slide_counter.numbered .slide.current {
  display: flex;
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 9px;
  padding: 3px 6px;
}
.slide_counter.numbered .slide.current::after {
  font-weight: 600;
  content: attr(data-slide) " / " attr(data-total);
}
.slide_counter.highlight .slide.current {
  background-color: #00aeef;
}
.slide_counter.dash_highlight .slide.current {
  min-width: 4.5px;
  min-height: 3px;
  width: 6.3%;
  max-width: 63px;
  height: 3px;
  background-color: #00aeef;
}
.slide_counter.dot_current .slide.current {
  min-width: 4.5px;
  min-height: 4.5px;
  width: 4.5px;
  height: 4.5px;
}
.slide_counter.capsule_scale .slide.current {
  min-width: 4.5px;
  min-height: 4.5px;
  width: 9px;
  height: 6px;
}
.slide_counter .slide {
  min-width: 4.5px;
  min-height: 4.5px;
  width: 4.5px;
  height: 4.5px;
  font-size: 0;
  padding: 0 0;
  border-radius: 18px;
  color: #ffffff;
  background-color: #b8b8b8;
  margin: 0 4.5px;
  transition: font-size 360ms ease-in-out, padding 360ms ease-in-out, background-color 360ms ease-in-out, width 360ms ease-in-out, height 360ms ease-in-out;
}/*# sourceMappingURL=banner.css.map */
